.Checkbox {
  appearance: none;
  width: 19.96px;
  height: 19.96px;
  border: 1.99563px solid #C4C4C4;
  border-radius: 5.9869px;
  transform: translateY(-0.25em);
  cursor: pointer;
}

.Checkbox:checked {
  background: #B5B5BA;
  border: 1.99563px solid #B5B5BA;
}

.Checkbox:after {
  content: '';
  position: absolute;
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid #F4F4F4;
  border-width: 0 2.5px 2.5px 0;
  transform: rotate(45deg);
}

.Checkbox:hover {
  outline:none;
  border: 1.99563px solid #FF4545;
}

.Checkbox:focus {
  outline:none;
  border: 1.99563px solid #FF4545;
}

.Checkbox:disabled {
  border: 1.99563px solid #B5B5BA;
  cursor: auto;
}

