.TodoContainer {
  position:relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 9.57209px 17.4038px;
  gap: 8.7px;
}

.Checkbox {
  appearance: none;
  width: 19.96px;
  height: 19.96px;
  border: 1.99563px solid #C4C4C4;
  border-radius: 5.9869px;
  transform: translateY(-0.25em);
  cursor: pointer;
}

.Checkbox:checked {
  background: #B5B5BA;
  border: 1.99563px solid #B5B5BA;
}

.Label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14.9673px;
  color: #413F3F;
  cursor: pointer;
}

.Label.LabelDeleted {
  text-decoration-line: line-through;
  color: #B5B5BA;
}

.Checkbox:checked + .Label:before {
  content: '';
  position: absolute;
  left: 28px;
  bottom: 22px;
  width: 4px;
  height: 8px;
  border: solid #F4F4F4;
  border-width: 0 2.5px 2.5px 0;
  transform: rotate(45deg);
}

.Checkbox.CheckboxHovered {
  outline:none;
  border: 1.99563px solid #FF4545;
}