.todoContainer {
  display: flex;
  flex-direction: row;
  /* padding: 9.57209px 17.4038px; */
  gap: 8.7px;
}

.label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14.9673px;
  color: #413F3F;
  cursor: pointer;
}

.label.labelDeleted {
  text-decoration-line: line-through;
  color: #B5B5BA;
  cursor: auto;
}
