.categoryContainer {
  width: 100%;
  padding: 0;
  border: 0;
  background: none;
  box-shadow: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.categoryContainer:focus-visible{
  border:2px solid #FF4545 !important;
  padding: 6px 3px 0px 0px !important;
   outline: none !important;
}

.categoryHeading {
  float: left; 
  margin-right: 10px; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color:#413F3F;
}

.folderIcon {
  position: relative;
  float: left;
  bottom: 4px;
  margin-right: 20px;
}

.arrow {
  border: solid #413F3F;
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(45deg);
  transform: translateX(100px);
  -webkit-transform: rotate(45deg);
  float: right; 
  margin: 5px 0px 0px 15px;
  
}

.line {
  top: 3px;
  position: relative;
  padding-left: 100px;
  border: 1px solid #BCBCC370;
}


.taskCounter {
  float: right;
  margin-left: 10px;
  margin-top:-5px;
}

.hideTasks {
  overflow: hidden;
  transition: height 1s ease-out;
  
}

.showTasks {
  overflow:hidden;
  transition: height 1s ease-in;
}
